.woocommerce-cart #payment .payment_method_stcpay img,
.woocommerce-checkout #payment .payment_method_stcpay img,
.woocommerce-checkout #payment .wc_payment_method img {
	margin: 0 10px;
    max-height: 32px;
    vertical-align: middle;
}

.stcpay-otp-modal{
	z-index: 9999;
	display: none;
	position: fixed;
	text-align: center;
	align-items: center;
	justify-content: center;
	top:0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.stcpay-otp-modal.show{
	display: flex;
}
.stcpay-otp-modal .modal-wrap{
	width: 360px;
	margin: 20px;
	max-width: 90%;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.stcpay-otp-modal .modal-inner{
	padding: 20px;
}
.stcpay-otp-modal .logo-wrap,
.stcpay-otp-modal label {
	margin: 0;
	display: block;
}
.stcpay-otp-modal .logo-wrap img {
    float: none;
    max-height: 30px;
    display: inline-block;
}
.modal-message > .woocommerce-error,
.modal-message > .woocommerce-message,
.modal-message > .woocommerce-info{
	font-size: 12px;
	padding: 6px 15px;
	line-height:14px;
}
.stcpay-otp-modal .modal-actions{
	display: flex;
	flex-wrap: nowrap;
	grid-gap: 10px;
}
.stcpay-otp-modal #stcpay-otp-value,
.stcpay-otp-modal .modal-actions{
	width: 100%;
	margin-top: 20px;
	text-align: center;
}
.stcpay-otp-modal .verify-otp{
	border:none;
	padding: 8px 12px;
	border-radius: 5px;
	background-color: #0088cc;
}
.stcpay-otp-modal .modal-close,
.stcpay-otp-modal .modal-close:hover,
.stcpay-otp-modal .modal-close:focus,
.stcpay-otp-modal .modal-close:active{
	color: #333;
	border:none;
	outline: none;
	background: none;
}
.stcpay-otp-modal .modal-actions > button{
	flex: 1 1 auto;
}
